#startScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("./imagens/mapas/fundo-tela-inicial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* sobrepor a tela do jogo */
  opacity: 1;
  transition: opacity 0.8s ease; /* ease cria uma transição suave */
  pointer-events: all;
}

#startScreenLogo {
  width: 40vw;
  max-width: 800px;
  height: auto;
}

#startScreen.fade-out {
  opacity: 0;
  pointer-events: none;
}

#startButton {
  font-weight: bold;
  font-size: 24px;
  border: none;
}

#startButton:hover {
  transform: scale(1.15);
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #59c4f2;
}

canvas {
  display: block;
}

.navbar {
  background-color: #ce8056;
}

.navbarText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}

.dialogBox {
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  transform: translateY(-20px);
}

.dialogBox.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Cutscene */

#cutscene-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
}

#cutscene-image {
  width: 100vw; /* 80% da largura da tela */
  height: auto; /* altura proporcional */
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza */
}

#fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1001;
}

#cutscene-textbox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  z-index: 1002;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cutscene-text {
  margin: 0;
  flex-grow: 1;
}

#skipCutscene {
  background-color: #ce8056;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

#skipCutscene:hover {
  background-color: #b86e4a;
}

